<div>
    <h1>Login using Github!!!</h1>
    <a href="/api/sessions/github"><button>Login with Github</button></a>
    <br/>
    <h2>Don't wanna use Github? Follow this links:</h2>
    <p>Do you need to register? <a href="/users/register">Register here</a></p>
    <p>Do you have an account? <a href="/users/login">Login here</a></p>
</div>