<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Password</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>Create an account <a href="/users/register">Here</a></p>
    <p>Do you have a Github account? <a href="/github/login">Login using Github</a></p>
</div>

<script src="/js/login.js"></script>